<main class="flex ">
    <div class=" p-8">
    
        <form
            class="relative bg-white shadow-md p-6 mb-6 w-full "
            method="POST"
            action="{{ route:form.submit }}"
        >
            {{ csrf_field }}
    
            <div class="mb-4 pt-6">
                <label for="name" class="block text-gray-700">Name:</label>
                <input
                    value="{{ old:name }}"
                    type="text"
                    id="name"
                    name="name"
                    class="w-full px-3 py-2 mt-1 text-gray-700 border rounded-md"
                />
                {{ if errors:name }}
                <span class="text-red-500">{{ errors:name }}</span>
                {{ /if }}
            </div>
    
            <div class="mb-4">
                <label for="email" class="block text-gray-700">Email:</label>
                <input
                    value="{{ old:email }}"
                    type="email"
                    id="email"
                    name="email"
                    class="w-full px-3 py-2 mt-1 text-gray-700 border rounded-md"
                />
                {{ if errors:email }}
                <span class="text-red-500">{{ errors:email }}</span>
                {{ /if }}
            </div>

            <div class="mb-4 pt-6">
                <label for="name" class="block text-gray-700">Input this code:</label>
                <div class="flex gap-6 items-center mb-2">
                    <span id="captcha_img">{{$ captcha_img('flat') $}}</span>
                    <button type="button" id="reload" class="px-3 py-1 text-gray-700 border rounded-md">Refresh</button>
                </div>
                <input
                    type="text"
                    id="captcha"
                    name="captcha"
                    class="w-full px-3 py-2 mt-1 text-gray-700 border rounded-md"
                />
                {{ if errors:captcha }}
                <span class="text-red-500">{{ errors:captcha }}</span>
                {{ /if }}
            </div>
    
            <div>
                <button
                    type="submit"
                    class="w-full px-4 py-2 text-white bg-black rounded-md hover:bg-black/80"
                >
                    Submit
                </button>
            </div>
        </form>
        
        <h2 class="text-2xl font-bold">users from collection custom forms<h2>
        <table class="w-full bg-white shadow-md overflow-hidden">
            <thead class="bg-black text-white">
                <tr>
                    <th class="py-3 px-4 uppercase font-semibold text-sm">Name</th>
                    <th class="py-3 px-4 uppercase font-semibold text-sm">Email</th>
                    <th class="py-3 px-4 uppercase font-semibold text-sm">Captcha</th>
                    <th class="py-3 px-4 uppercase font-semibold text-sm">View detail</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {{ collection:forms }}
                <tr class="hover:bg-gray-100">
                    <td class="py-4 px-6">{{ name }}</td>
                    <td class="py-4 px-6">{{ email }}</td>
                    <td class="py-4 px-6">{{ captcha }}</td>
                    <td class="py-4 px-6"><a href="{{ url }}">view</a></td>
                </tr>
                {{ /collection:forms }}
            </tbody>
        </table>
    </div>
    <div class=" p-8">
        <div class="relative bg-white shadow-md p-6 mb-6 w-full">
            {{ form:users }} 
        <div>
                <!-- success -->
        {{ if success }}
        <div class="absolute top-2 left-1/2 transform -translate-x-1/2 bg-green-300 text-white p-2">{{ success }}</div>
        {{ else }} 
        <!-- error -->
        {{ if errors }}
        <div class="absolute top-2 left-1/2 transform -translate-x-1/2 bg-red-300 text-white p-2">
            {{ errors }} {{ value }}<br />
            {{ /errors }}
        </div>

        {{ /if }}
        {{ /if }}
        </div>
       

        {{ fields }}
        <div class="p-2 pt-6">
            <label>{{ display }}</label>
            <div class=" [&>input]:w-full [&>input]:border [&>input]:border-gray-300 [&>input]:p-2 [&>input]:rounded-lg">{{ field }}</div>
            {{ if error }}
            <p class="text-gray-500">{{ error }}</p>
            {{ /if }}
        </div>
        {{ /fields }} 
        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}" />
    
       
        <button class="mt-2 w-full px-4 py-2 text-white bg-black rounded-md hover:bg-black/80" type="submit">Submit</button>
         {{ /form:users }}
        </div>
    
        <h2 class="text-2xl font-bold">users from statamic<h2>
            <table class="w-full bg-white shadow-md overflow-hidden">
                <thead class="bg-black text-white">
                    <tr>
                        <th class="py-3 px-4 uppercase font-semibold text-sm">Id</th>
                        <th class="py-3 px-4 uppercase font-semibold text-sm">Title</th>
                        <th class="py-3 px-4 uppercase font-semibold text-sm">Name</th>
                        <th class="py-3 px-4 uppercase font-semibold text-sm">Email</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {{ form:submissions in="users" }}
                    <tr class="hover:bg-gray-100">
                        <td class="py-4 px-6">{{ id }}</td>
                        <td class="py-4 px-6">{{ date }}</td>
                        <td class="py-4 px-6">{{ name }}</td>
                        <td class="py-4 px-6">{{ email }}</td>
                    </tr>
                    {{ /form:submissions }}
                </tbody>
            </table>
    </div>
    
</main>